@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(128, 128, 128, 0.607);
  --foreground: linear-gradient(to right,  #0c253f, #1F618D );;

}
.dark body{

  --background: #0a0a0a;
  --foreground: linear-gradient(to right, #f733bc,rgb(93, 150, 248) );;

}
.gradient{
@apply text-transparent  bg-clip-text ;
-webkit-background-clip: text;
background-image: var(--foreground);
width: fit-content;
}
.border-gradient{
  @apply  border  ;
  border-image: var(--foreground) 1;
border-radius: 20px;
}
.background{
  background: var(--foreground);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
