@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #fff;
  /* --foreground: linear-gradient(to right,  #0c253f, #1F618D );; */
  --foreground: linear-gradient(to right,  #0c253f, #3e7da7 );;

}
.dark body{

  --background: #0a0a0a;
  --foreground: linear-gradient(to right, #f733bc,rgb(93, 150, 248) );;

}
.gradient{
@apply text-transparent  bg-clip-text ;
-webkit-background-clip: text;
background-image: var(--foreground);
width: fit-content;
}
.border-gradient{
  @apply  border  ;
  border-image: var(--foreground) 1;
border-radius: 20px;
}
.background{
  background: var(--foreground);
}
.Container{
  @apply mx-3 sm:mx-10 lg:mx-24 ;
}
html{
  scroll-behavior: smooth;
}
body {

  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
